.hzwy23-flowchart-workspace{
    background-color: rgba(255, 186, 93, 0.22);
    width: 100%;
    overflow-y: auto;
    position: relative;
}

.start-btn{
    height:60px;
    line-height:60px;
    width: 60px;
    background-color: #fafafa;
    border: #1b911b solid 1px;
    color: #1b911b;
    position: absolute;
    border-radius: 3px;
    cursor: move;
}

.start-btn:hover {
    background-color: #5c96bc;
    color: white;
}

.show-connect-line {
    cursor: pointer;
    height: 60px;
    line-height: 60px;
}

.show-connect-line:hover {
    color: darkgreen;
}

.flowchart-element-text-input {
    height: 28px;
    line-height: 28px;
    display: inline-block;
    margin-top: 4px;
}

.flowchart-element-text-inner {
    display: inline;
}

.flowchart-element-text-bottom {
    display: block;
    margin-top: 6px;
    padding: 0px 8px;
    margin-left: -15px;
    margin-right: -15px;
    background-color: #e8a955;
    color: #ffffff;
    min-height: 23px;
    max-height: 69px;
    line-height: 23px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 6px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
}

.dragHover {
    border: 2px solid orange;
}

.itemSelect {
    border: 2px solid #ff2a12 !important;
}

.itemCreate {
    border: 2px dashed #0908ff !important;
}